// @import url('https://fonts.googleapis.com/css?family=Assistant');
// $body-font-family: 'Assistant' !important;

// body {
//   font-family: "Assistant Regular";
//   font-size: 22px;
// }
.theme--text{
  color: #EF515B !important;
}
.theme--white{
  color: white !important;
}
.theme-footer-color{
  background-color: #43576e !important;
  color: white !important;
}
.white--text{
  color: white !important;
}
.text-center{
  text-align: center !important;
}
// .v-menu__content{
//   display: none !important;
// }